#container {
  width: 50%;
  border-radius: 5px;
  padding: 10px;
  background-color: #4286f4;
  margin: 10% auto; 
  text-align: center;
}

#letters a{
  color:white;
  background-color: gray;
  border-radius: 5px;
  padding:5px;
  cursor: pointer;
}

#letter a:hover{
  color: red;
}

#letters a .d{
  color: yellow;
  tex-decoration: underline;
}