//styles for the body
html, body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: aqua;
  margin: 0;
  padding: 0;
}

#topLine{
  color: whitesmoke;
  height: 50px;
  margin: auto;
  font-size: 40px;
  margin-top:50px;
  width: 800px;
  border-bottom-color: aliceblue 2px;

}

#gameContent{
  margin: auto;
  height: 400px;
  width: 800px;
  background-color:#3461db;
  position: relative;
  overflow: hidden;
}

.spacer{height: 30px;

}

.button{font-size: 20px;
color: whitesmoke;
width: 100px;
margin: auto;
cursor: pointer;
border: solid 2px white;
border-radius: 4px;
text-align: center;
}
#replay{
  margin-left: 0px;
}

#gameTitle{
  color: whitesmoke;
  margin-top: 100px;
  font-size: 40px;
  text-align: center;
}

.button:hover{
  background-color: lightcoral;
}

#wordHolder{
  margin-left: 150px;
  margin-top: 50px;
}

#clueHolder{
  margin-left: 150px;
  margin-top: 130px;
}

#picHolder{
  margin-left: 30px;
  width: 75px;
  float: left;
  overflow: hidden;
}

#guesses{
  margin-top: 20px;
  margin-left: 150px;
}

